  <link rel="stylesheet" href="../../public/stylsheets/animate.css">
  <div class="background-image"></div>
  <div>Welcome to {{title}}, please click "Allow" to enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation" style="vertical-align: middle;"><div id="chatmsg"></div></div>
  <div id="submission">
    <input type="text" id="textinput" placeholder="type something here...">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  </div>